@font-face {
    font-family: 'Calculator';
    src: url('/Calculator.ttf') format('truetype');
}

* {
    font-family: 'Quicksand', sans-serif;
    color: white;
}

body {
    margin: 0;
    background-color: #2d9f91;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-2 {
    margin-left: 40px;
}

.form-check {
    margin-bottom: 15px;
    font-size: 1.4rem;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #1861aa;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 10px 8px 0px 5px #0e365e;
}

.display {
    grid-column: 1 / -1;
    padding: 15px;
    margin: 10px 10px 20px;
    background-color: rgb(30, 30, 30);
    border-radius: 15px;
    box-shadow: 0 0 0 10px #00000035;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    text-align: right;
    overflow: hidden;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 20px;
    font-size: 1.8rem;
    border: none;
    background-color: #0e365e;
    /* box-shadow: 5px 5px 10px -3px #00000050, -5px -5px 10px 3px #00745950; */
}

button:active {
    transform: scale(0.9);
}

#col-2 {
    grid-column: span 2;
}

#valor-actual {
    font-size: 1.4rem;
}

#valor-anterior {
    font-size: 1.6rem;
}

.multiplicar p {
    rotate: 45deg;
    margin-top: 15px;
    margin-right: -1px;
}